.ul {
	display: flex;
	list-style-type: none;
	margin-bottom: 10px;
	justify-content: space-around;
	width: 50%;
	border: 1px solid #ccc;
	border-radius: 20px;
}

ul:hover {
	cursor: pointer;
}

li {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
}

.pl {
	flex: 1;
	background-color: #D3D3D3;
	color: #808080;
	height: 30px;
}

.sele {
	flex: 1;
	background-color: white;
	color: black;
	height: 30px;
}
